*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: monospace;
}

.navbar button {
 border: none;
 background-color: transparent;
 margin-top: 10px;
 font-size: 2rem;
 margin-left: 10px;
}

.navbar nav a{
    text-decoration: none;
    color:black;
    text-align: center;

}
.navbar nav a:hover{
    text-decoration: underline;
    color:green;
}
.dibnav{
  display:flex;
    justify-content: space-between;
}
ul{
  list-style: none;
  line-height: 3rem;
  text-align: center;
}
.welcomepage{
  overflow-x: hidden;
}
.welcomepagetext a {
  font-size:rem;
  padding: 7.5px;
  background-color: black;
  color: yellowgreen;
  border-top-right-radius:0px;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  border:none;
  text-decoration:none;
}
.welcomepagetext a:hover {
  background-color: yellowgreen;
  color: black;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-right-radius:0px;
}
@media screen and (min-width: 651px) {
  .navbar{
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: white;
    box-shadow: 0 0 2px black;
    padding:5px;
    position:sticky;
    top:0;
    height: fit-content;
    width:100%;
    list-style: none;

}
table{
  min-width: 645px;
}
.ul{
  display:flex;
  margin-right: 10px;
}
li{
  margin-right: 10px;
}
.mainmenu{
  display: none;
}
.welcomepage{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap:15px; 
  height:100vh;
}
.welcomepagetext{
  text-align: center;
 align-self: center;
 font-size: 2.1rem;
 margin-left: -20px;
 margin-right:50px;
}


}
@media screen and (max-width: 650px) {
  .mainmenu {
    display: block;
  }
   .image-slider img {
  top: -20px;
  left: 20px;
  padding:30px;
  } 
   .optional{
    display:none;
  } 
  .welcomepageimg img{
    width:450px;
  }
  .welcomepagetext{
    text-align: center;
    font-size: 2rem;
  }
 .listnav {
  position: fixed;
  top: 12.6%;
  bottom: 12px;
  right: 0;
  border-top-left-radius: 15px; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px; 
  width: 250px;
  height: 340px;
  background-color: grey;
  padding: 20px;
  transition:  smooth right 5s ease ease-in-out;
  display: flex;
  flex-direction: column; 
  z-index: 1; 
}
table{
  width:100%;
}
  .divbnav {
    display: none;
  }
  .navbar{
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: white;
    box-shadow: 0 0 2px black;
    padding:5px;
    position:sticky;
    top:0;
    height: fit-content;
    width:100%;

}
}
.footer{
background-color: antiquewhite;;
    color: black;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    
}
.footerdiv span{
 margin:0 20px;
}
.footer a:hover{
  color:green;
  text-decoration: underline;
}

.welcomepage p{
    margin-top: 5px;
}
.welcomepage h2{
    margin-bottom: 8px;
}
form.signup, form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 4px;
    border: solid 2px #333;
  }
 form.contact , form.booking{
    max-width: 650px;
    margin: 40px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 4px;
    border: solid 2px #333;
  } 
  label, input {
    display: block;
  }
  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  form button {
    background: yellowgreen;
    border: 0;
    color: black;
    padding: 10px;
    font-family: monospace;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    display:block;
    
  }
  form button:hover {
    background: black;
    border: 0;
    color: yellowgreen;
  }
  form button:active{
    background: black;
    border: 0;
    color: yellowgreen;
  }
  form a{
    text-decoration: none;
  }
  div.error {
    padding: 10px;
    background: pink;
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 1.1rem;
  }
  input.error {
    border: 1px solid red;
  }
  .profiletab{
    display:flex;
    justify-content: center;
  }
  .prosection img{
    border-radius: 50%;
    margin-top: 10px;
  }
  .prosection{
    height: 100vh;
    height: fit-content;
    max-width: 500px;
    background-color: whitesmoke;
    margin:30px;
    border:solid 10px black;
    border-radius: 15px;
    text-align: center;
  }
  .prosection strong{
    color:green;
  }
  .prosection h3{
    border-radius: 5px;
    border:3px solid black;
    margin:10px;
    padding:10px;
    text-align: left;
  }
  .prosection h4{
    border:3px solid red;
    margin:10px;
    padding:10px;
    text-align: center;
    background-color: brown;
    border-radius: 10px;
  }
  .home{
    background-color:whitesmoke;
    height:100vh;
  }
  .homeimgs{
    display:flex;
   justify-content: space-around;

  }
  .homelogo{
    display:flex;
    justify-content: center;
  }
  
.image-slider {
  margin-top: 20px;
  position:relative;
  width: 300px;
  height: 300px; 
  overflow: hidden;
  z-index: 0;
}

.image-slider img {
  position: absolute;
  width:70%;
  height:70%;
  opacity: 0;
  border-radius: 50%;
  transition:  0.5s ease;
  z-index: 0;
  left:0;
  top:0;
}

 .image-slider img.visible {
  opacity: 1;
} 
.home a{
  padding:5px;
  background-color: yellowgreen;
  color:black;
  font-family: monospace;
  font-size: 1.3rem;
  border:none;
  margin-top:5px;
  border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:0px;
    text-decoration: none;
}
.home a:hover{
  border-top-right-radius:0px;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    background-color: black;
  color:yellowgreen;
}
.buttoncontainer{
  display:grid;
  place-items: center;
}
.bookings a {
  padding:5px;
  background-color: yellowgreen;
  color:black;
  font-family: monospace;
  font-size: 1.3rem;
  border:none;
  margin:10px;
  border-radius: 10px;
}
.bookings-details{
  margin:5px;
  border:none;
  padding:10px;
  border-radius: 15px;
  background-color:rgb(179, 245, 198);
  font-size: 1.1rem;
  font-family:Helvetica, sans-serif;
}
.bookingsdone{
  margin:5px;
  border:none;
  padding:10px;
  border-radius: 15px;
  background-color:green;
  text-decoration: line-through;
  font-size: 1.1rem;
  font-family:Helvetica, sans-serif;
}
.bookings-details strong{
  color: green;
}
.bookings-details h4{
  color:green;
  font-size: 1.4rem;
}
.bookings a:hover{
  padding:5px;
  background-color: black;
  color:yellowgreen;
  font-family: monospace;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 1s;
}
table {
  border-collapse: collapse;
  border: 2px solid black; 
  border-radius: 10px;
  background-color: whitesmoke;
  margin:10px auto;
}

th,
td {
  border: 1px solid black; 
  padding: 8px;
  text-align: left;
}


th {
  background-color: black;
  color: greenyellow;
}
.abouttext{
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.about{
  background-color: whitesmoke;
  padding: 10px;
}
hr{
  color:black;
        width:300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
}

.faq{
  border: 3px solid white;
  margin: 15px auto;
  padding:5px; 
  background-color: whitesmoke;
  border:none;
}

.question{
  margin: 15px 0;
  border-bottom: 1px solid black;
  font-weight:500;
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
}
.question::after{
  content: '🔽';
  position: absolute;
  right: 2px;
  font-size: 1.3rem;
  font-weight: 600;
}
.answer{
  line-height: 20px;
  height:0px;
  overflow: hidden;
  transition:1s;
}
.active .answer{
 height: max-content;
}

.active .question{
  font-size:1rem;
  font-weight: 400;
  transition:.5s;
}
.active .question::after{
  content:'🔼';
  font-size: 1rem;
  color:black;
  transition: .5s;
}

@media screen and (max-width: 899px){
  .float{
    position:fixed;
    top:75%;
    z-index:1;
    left:69%;  
    font-size: 1.5rem;

  }
  .float button{
    font-size: 1.5rem;
    padding:2px;
  }
}
@media screen and (min-width: 900px){
  .float{
    position:fixed;
    top:75%;
    z-index:1;
    left:40%;  
    font-size: 1.7rem;
  }
  .float button{
    font-size: rem;
    padding:2px;
  }
}
.float {
  animation: pop 1s infinite;
}
@keyframes pop {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
}
.services{
  font-size: 1.2rem;
}
.loading{
  font-size: 4rem;
  background-color: whitesmoke;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity:.5
}
.loading h3{
  animation: pop .6s ease-in-out infinite;
}